.itemCard {
  cursor: pointer;
  width: 251px;
}

.itemCardImageContainer {
  position: relative;
  overflow: hidden;
}

.bestSellerBadge {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  z-index: 2;
  padding: 0.2rem 0.6rem;
}

.bestSellerBadge span {
  color: white;
  letter-spacing: 0.1rem;
}

.itemQuickViewButton {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--fast-transition-properties);
}

.itemCard:hover .itemQuickViewButton {
  bottom: 0;
}

.itemMenu {
  opacity: 0;
  transition: var(--transition-properties);
}

.itemQuantity {
  border: 1px solid black;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.itemMinusQuantity,
.itemPlusQuantity {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 100;
}

.itemAddButton {
  height: 2.5rem;
  background: var(--dark-peach);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--fast-transition-properties);
}

.itemAddButton:hover {
  background: var(--light-peach);
}

.itemCard:hover .itemMenu {
  opacity: 1;
}
